.galary{
    width:100%;
    height: 15%;
    background-color:black;

    visibility:hidden;
    position:absolute;

    overflow:hidden;
}

.inner-gallary{
    width:100%;
    height:100%;
    white-space: nowrap;
}

.galary-item{
    height:100%;
    object-fit:fill;
}

.gallary-next{
    position:absolute;
    right:5%;
    top:50%;
    transform:translateY(-50%);

    border-radius: 100px;
    border: 1px black solid;
    background-color: white;

    width:calc(var(--shopitem-width)/10);
    height:calc(var(--shopitem-width)/10);

    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}


/* USED IN CONTEXT OF ADIDAS COMPONENT DELETE IF OTHERWISE */

.shopitem:hover .galary{
    visibility: visible;
    position: relative;
}