.price{
    background-color: white;
    padding:15%;

    position:absolute;

    display:flex;
    flex-flow: nowrap;
}
.price > p {
    margin:0;
}

.price__discounted{
    color:red;
}

.price__crossed-out{
    text-decoration: line-through;
    color:gray;
}

.price__discount-percent{
    font-weight: bold;
    background-color:white;
}

.price__invisible{
    visibility: hidden;
}