.shopitem{
    width: var(--shopitem-width);
    height: var(--shopitem-height);
    border:1px transparent solid;

    position: relative;
}

.shopitem:hover{
    border:1px black solid;
    cursor:pointer;
}

.shopitem--image{
    width: var(--shopitem-width);
    height: var(--shopitem-width);
    object-fit:contain;
    background-color:var(--bg-color);
}

.shopitem--price{
    position:absolute;
    z-index: 1;
    
    top:55%;
    left:1%;

    transition: all 0.05s ease-in-out;
}

.shopitem--description > *{
    margin:0;
    font-size:.9rem;
}

.shopitem:hover .shopitem--price{
    top:54%;
}